* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ________ GLOBAL COLORS ________ */
:root {
    --main_dark_grey_bg: #1a1a1a;
    --main_green:#23d959;
}
/* ________ END GLOBAL COLORS ________ */



/* ________ COMMON STYLES ________ */
.flex {
    display: flex;
}
.align_center {
    align-items: center;
}
.justify_space_between{
    justify-content: space-between;
}

button {
    padding: .45rem .75rem;
    color: white;
    border: transparent;
    border-radius: .25rem;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

#color_green {
    color: var(--main_green);
}
/* ________ END COMMON STYLES ________ */



/* ________ HEADER ________ */
.view_btn,
.recording_btn,
.shield_icon_header {
    margin: 0 .25rem;
    background-color: #101010;
}

header {
    height: 2.5rem;
    padding: 0 .75rem;
    background-color: var(--main_dark_grey_bg);
    color: white;
}

.shield_icon_header {
    padding: .25rem;
    border-radius: .25rem;
    font-size: .75rem;
    color: var(--main_green);
}

.recording_btn * {
    vertical-align: middle;
}
.recording_icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: tomato;
}

.view_btn {
    margin-left: auto;
    background-color: #212122;
    border-radius: .55rem;
}
/* ________ END HEADER ________ */



/* ________ MAIN ________ */
main {
    height: calc(100vh - 2.5rem - 3rem);
    padding: 0 .15rem;
    background-color: var(--main_dark_grey_bg);
}

.arrow_switch {
    text-align: center;
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.829);
    padding: .35rem 1rem .25rem 1rem;
    border-radius: .25rem;
    border: 2px black solid;
    background: linear-gradient(rgb(58, 58, 58), black);
    cursor: pointer;
}
.arrow_switch i {
    font-size: 3rem;
    color: #2dbaff;
}

/* ------ PARTICIPANTS SECTION ------ */
.participants_section {
    align-self: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 85%;
    max-width: 1400px;
}

.participant {
    position: relative;
    width: 20%;
    height: 20%;
    padding: .25rem;
}

.participant img {
    border-radius: .4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_participant {
    position: absolute;
    bottom: 10%;
    left: 5%;

    font-size: .8rem;
    color: white;
    border-radius: .35rem;
    padding: .1rem .2rem;
    background-color: rgba(0, 0, 0, 0.6);
}
.name_participant i {
    color: #ff5c5c;
}
/* ------ END PARTICIPANTS SECTION ------ */

/* ________ END MAIN ________ */



/* ________ FOOTER ________ */
footer {
    height: 3rem;
    background-color: #242628;
    padding: 0 1rem;
}

.function_btn {
    color: #aaabac;
    text-align: center;
    padding: .35rem 1rem;
    font-size: .8rem;
    text-transform: capitalize;
    
    position: relative;
    cursor: pointer;
}
.function_btn:hover {
    background-color: #2f3235;
}

.function_btn i {
    font-size: 1.1rem;
}
.more_options_arrow::after {
    content: '\f106';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: .9rem;

    position: absolute;
    top: 5%;
    right: 2%;
}
.number_of_participants {
    position: absolute;
    font-size: .7rem;
    top: 5%;
    right: 15%;
}

.left_room_btn {
    background-color: #e02828;
    padding-left: 1.65rem;
    padding-right: 1.65rem;
    font-weight: 600;
}
/* ________ END FOOTER ________ */